# Ignore environment variables
.env

# Ignore Google Sheets credentials
credentials.json
discordbot-435411-d6e6a71c2f2b.json

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db